<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca de usuários</title>
    <link rel="stylesheet" type="text/css" href="/css/users_busca.css">
</head>
<body>
    
    <div id="wrapper" >
        
        <div id="content">      
            <!--FORMULÁRIO DE BUSCA DE PUBLICAÇÕES-->
            <div id="usuarios">
                <form method="get" action="" enctype="multipart/form-data"> 
                    <h1>Busca por Usuários</h1> 
                    
                    <p> 
                        <label for="busca">Username ou parte dele</label>
                        <input id="nome_cad" name="busca" required="required" type="text" placeholder="Digite aqui" />
                    </p>
                    
                    <p> 
                        <input type="submit" value="Buscar"/> 
                    </p>
                    
                </form>

                <h3>{{status}}</h3>
                <div class="header_users">
                    <div style="width: 50%; text-align:center">{{username}}</div>
                    <div style="width: 50%; text-align:center">{{nome}}</div>
                </div>
                <ul>
                    {{#users}}
                        <li>
                            <p>
                                <div class="lista_users">
                                    <div style="width: 50%; text-align:center"><a href="users/{{username}}">{{username}}</a></div>
                                    <div style="width: 50%; text-align:center">{{nome}}</div>
                                </div>
                            </p>
                        </li>
                    {{/users}}
                </ul>
            </div>
        </div>

        <a id="home-fixed" href="../">HOME</a>
    </div>

</body>
</html>